.l-contentBrands {
  width: 100%;
  background: none;
  padding: 0;
  margin: 0;
}

.b-contentBrands {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1153px;
  box-sizing: border-box;
  padding: 0 20px 221px 20px;
  margin: 0 auto;

  &__side {
    width: max-content;
  }

  &__title {
    font-family: $OSPro;
    font-style: normal;
    font-weight: 900;
    font-size: 28px;
    line-height: 36px;
    color: #000000;
    padding: 0;
    margin: 0 0 40px 0;
    max-width: 403px;
  }

  &__text {
    font-family: $Sintony;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #222A41;
    padding: 0;
    margin: 0;
    max-width: 308px;
  }

  &__logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 27px;
  }

  &__logo {
    width: 100%;
    max-width: 162px;
  }
}
